@charset "UTF-8" ;

body {
    background-color: rgba(48, 236, 236, 0.596);
}
div {
    text-align: center;
}
h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(75, 148, 148);
    border-radius: 20px;
    margin-left: 480px;
    margin-right: 480px;
}